<!DOCTYPE html>
<html>
	<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="static/radar.jpg" type="image/jpg">
	<link rel="apple-touch-icon" sizes="57x57" href="static/radar57.jpg" type="image/jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="static/radar72.jpg" type="image/jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="static/radar114.jpg" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
	</head>
	<body>
	    <div class="wrapper">{% block content %}{% endblock %}</div>
	</body>
</html>
